a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

img {
    width: 100%;
}
.form {
    margin-top: 100px;
}
h1, p {
    text-align: center;
}
hr {
    background-color: rgb(245, 106, 106);
}
span {
    color: rgb(245, 106, 106);
}
.sub {
    text-align: center;
}